.Navbar{
    top:10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.Navbar--button{
    width:30%;
}
.Navbar--button > button{
    position: relative;
    top:15px;
    margin: auto 1rem;
    padding: 0.5rem;
    color: red;
    outline: none;
}
.Navbar--button > button:hover{
    opacity: 0.5;
    color: black;
}
.Navbar--Logo > h5{
top: -28px;
position: relative;
}
@media only screen and (max-width: 700px) {
.Navbar--button {
    width: 43%;
}
.Navbar--Logo > img{
    width: 13%;
}
}
