.sign{
    background-image:url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.sign input{
    margin: 1rem 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
}
.sign-head{
    color: black;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.sign-button{
    padding: 1rem;
    max-width: 20%;
    margin:2rem auto auto auto;
    font-size: 15px;
    font-weight: bolder;
    background-color: red;
}
.required{
    color: red;
}
.label{
    color: black;
    font-size: 20px;
    font-weight:bolder;
}
.register{
    font-size: 30px;
    color: #32527b;
    margin:16rem auto;
}